@charset "UTF-8";

body {
    min-width: 1024px;
    max-width: 1920px;
    margin:0;
    padding:0;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: left top;
}

#top_bar{
    width:100%;
    height:150px;
    background-color:#000000;
}
#logo{
    float:left;
    margin-left: 100px;
    width: 150px;
}
#zmist li { display: inline; }

#zmist {
    text-align: right;
    padding: 50px;
}

#zmist a{
    width: 70px;
    color: #fff;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 20px;
    margin-left: 30px;
    margin-top: 35px;
    text-align: center
}

#zmist a:hover {color: #cd4949;}

#content{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
    height: 750px;
}

#history{
    margin: 100px 500px 150px 100px;
    width: 500px;
    float: left;
}

.history_title {
    font-size: 40px;
    color: #000000;
    font-style: italic;
}
#history_text{
    margin-top: 50px;
    font-size: 30px;
    color: #000000;
}

#ball{
    margin: 0 0 0 700px;
    top: 320px;
    position: absolute;
    width: 400px;
}
#content1{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
    height: 750px;
}
#table{
    width: 300px;
    float: left;

}
.table_title {
    font-size: 40px;
    color: #000000;
    font-style: italic;
}
table,th,td{
    text-align:center;
}
.team{
    color: #C0392B;
    font-weight:bold;
}
th,td{
    border-radius: 5px;
    background: #F9EBEA;
    margin-top: 50px;
    padding:20px;
    font-size:20px;
}
caption{
    border-radius: 5px;
    font-size:30px;
    margin-top: 15px;
    height: 40px;
    background: #FADBD8;
}

#players{
    width: 300px;
    float: right;
}

.players{
    text-decoration: none;
    border-radius: 10px;
    margin-top: 100px;
    font-size: 25px;
    background: #D7DBDD;
}

.players a{
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}
.players a:hover {color: #cd4949;}

.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    color:#333;
    font-family: Verdana, Arial, Helvetica, sans-seriferdana;
    font-size:12px;
    border-radius: 5px;
}
.topbutton:hover {color: #cd4949;}